.wrapper-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 5rem auto;
    border: 1px solid #001529;
    background: transparent;
    width: 20rem;
    height: 25rem;
}

h1{
    font-size: 2rem;
}

label{
    font-size: 1.3rem;
}

input[type="text"],[type="password"]:focus {
    outline: none;
}

input{
    border-radius: 5px;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid red;
    width: 15rem;
}

.wrapper-input {
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
}

.wrapper-button{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 2rem;
}

button.btn-login{
    background: #1890ff;
    border: none;
    width: 10rem;
    height: 2.5rem;
    border-radius: 5px;
    margin: auto;
}
